<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>iLoveTextract</title>
    <link href="static/css/app.683c58e.css" rel="stylesheet">
  </head>
  <body class="lang-en-US toolpage  ">
    <div class="header">
      <div class="header__main">
        <div class="brand">
          <div class="brand__logo">
            <B>
              <a href="/" title="iLovePDF">iLoveTextract</a>
            </B>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="tool tool--small">
        <div class="tool__workarea" id="workArea">
          <div class="tool__header">
            <h1 class="tool__header__title">Download File</h1>
            <h6 >Image has been converted to plain text</h6>
          </div>
          <div id="uploader" class="uploader">
            <a class="uploader__btn tooltip--left" id="pickfiles" href="{{ link }}" style="border-radius:110px; cursor:pointer">
                <span>Download</span>
            </a>
          </div>
        </div>
      </div>
    <div class="footer">
      <div class="footer__copy"> &copy; iLoveTextract 2022 &reg;  </div>
    </div>
    </div>
  </body>
</html>


